:root {
    --primary: #0059ab; /* Azul SENAI */
    --accent: #ff3e3e;
    --bg: #f4f7f6;
    --text: #333;
    --card-bg: #fff;
}

[data-theme="dark"] {
    --bg: #1a1a1a;
    --text: #f4f7f6;
    --card-bg: #2d2d2d;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    transition: 0.3s;
    margin: 0;
}

header {
    background: var(--primary);
    padding: 1rem 5%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 5%;
}

.card {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-left: 5px solid var(--primary);
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--accent);
    color: white;
    font-weight: bold;
}